.searched-movie {
  max-height: 200px;
  overflow-y: auto;
}
.search-container p:hover {
  background-color: lightblue;
}

.poster-image {
  width: 150px;
  height: auto;
}

.container {
  overflow: auto;
}

nav {
  margin-top: 2rem;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.field label {
  flex: 1;
  font-weight: bold;
  color: white;
  margin-bottom: 10px; 
}

.field input,
.field textarea {
  flex: 2;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
